<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LemonWayMetiersSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53692/LemonWayMetiers.asmx"
                binding="basicHttpBinding" bindingConfiguration="LemonWayMetiersSoap"
                contract="LemonServices.LemonWayMetiersSoap" name="LemonWayMetiersSoap" />
        </client>
    </system.serviceModel>
</configuration>